.container {
    border-bottom: var(--line-color) solid 1px;
    position: sticky;
    background-color: var(--background);
    top: 0;
}
.header {
    height: 3.6rem;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 0 1rem;
}
.brand {
    display: none;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: var(--secondary-hover);
    text-transform: uppercase;
}
.menu {
    display: flex;
    a {
        font-weight: 500;
        font-size: 1rem;
        margin-right: 2rem;
        white-space: nowrap;
        text-decoration: none;
        color: var(--secondary-hover);
    }
    a:hover {
        color: var(--black-text);
    }
}
.searchbox {
    display: flex;
    justify-content: flex-end;
}
.searchbutton {
    margin-left: 0.5rem;
}
.toggle {
    display: none;
}

@media (max-width: 768px) {
    .header {
        grid-template-columns: 10rem auto;
    }
    .menu,
    .searchbox {
        display: none;
    }
    .toggle {
        display: flex;
        justify-content: flex-end;
    }
    .brand {
        display: block;
    }
}
@media (max-width: 992px) {
    .searchinput {
        width: 6rem;
    }
}
