.container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.item {
    background-color: var(--primary-color);
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    margin: 0 0.25rem;
    transition: all var(--transition-time);
    outline-width: 2px;
}
.item.showing {
    outline-offset: 2px;
    outline: var(--primary-color) solid 2px;
}
