.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}
.flex,
.flex-row {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.items-center {
    align-items: center;
}
.items-start {
    align-items: flex-start;
}
.items-end {
    align-items: flex-end;
}
.items-center {
    align-items: center;
}
.justify-start {
    justify-content: start;
}
.justify-end {
    justify-content: end;
}
.justify-between {
    justify-content: space-between;
}
.hidden {
    display: none;
}
.block {
    display: block;
}
.grid {
    display: grid;
}
