.container {
    min-height: 12rem;
    padding: 2rem 0;
    background-color: var(--secondary-color);
    color: var(--white-text);
}
.footer {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem 2rem;
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        .intro {
            grid-column: span 2 / span 2;
        }
    }
}
.category {
    display: flex;
    flex-direction: column;
    .title {
        font-weight: 500;
        margin-bottom: 0.5rem;
    }
    .name {
        font-size: 1.1rem;
    }
    a {
        text-decoration: none;
        color: inherit;
        width: fit-content;
    }
    .email {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
