@font-face {
    font-family: 'Optimistic Display';
    src: url('/font/OptimisticDisplayLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Optimistic Display';
    src: url('/font/OptimisticDisplayRegular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Optimistic Display';
    src: url('/font/OptimisticDisplayBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}

* {
    box-sizing: border-box;
    font-family: 'Optimistic Display', system-ui, -apple-system, sans-serif;
}

input,
button {
    font-size: 14px;
    font-weight: 300;
}

.custom-scroll {
    overflow: overlay;
    --scrollbar-color: #00000000;
}
.custom-scroll.scrolling {
    --scrollbar-color: #00000040 !important;
}
.custom-scroll::-webkit-scrollbar {
    display: block;
    width: 10px;
}
.custom-scroll::-webkit-scrollbar-button {
    display: none;
}
.custom-scroll::-webkit-scrollbar-track {
    background-color: #00000000;
}
.custom-scroll::-webkit-scrollbar-track-piece {
    background-color: #00000000;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 24px;
}

.responsive {
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 576px) {
        max-width: 100%;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
    @media (min-width: 576px) {
        max-width: 540px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }
    @media (min-width: 1400px) {
        max-width: 1320px;
    }
}
