.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: all var(--transition-time);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    &:hover {
        color: var(--primary-hover);
    }
}
.thumb {
    aspect-ratio: 4/3;
    object-fit: cover;
}
.title {
    font-size: 1rem;
    font-weight: 500;
    margin: 0.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info {
    padding: 0 0.75rem 0.75rem 0.75rem;
    margin-top: auto;
    div,
    div > span {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .view,
    .category {
        margin-left: 0.5rem;
    }
}
